<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FailedTestSuites" parallel="tests" thread-count="2">
	<test name="MainProject">
		<parameter name="rerun-failed" value="true" />
		<classes>
			<class name="MainProject.ApiTest" />
		</classes>
	</test>
	<test name="Day09">
		<parameter name="rerun-failed" value="true" />
		<classes>
			<class name="Day09.GetExample" />
			<class name="Day09.PostExample" />
			<class name="Day09.PutExample" />
			<class name="Day09.DeleteExample" />
		</classes>
	</test>

</suite>